@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

body{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Crimson Text', serif;
    background-color: #f2fffc;
}

h1 h2{
    font-family: "Open Sans Condensed", sans-serif;
}

main h1{
    text-align: center;
    background-color: #851944;
    color: #fff;
}

p{
    text-align: justify;
}